* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    background-color: #685B47;
    height: 80px;
    margin-left: -12px;
    margin-right: -12px;
    color: white;
}

.logo2 {
    margin-left: -4px;
}

.city {
    background-color: #685B47;
    border: none;
    color: white;

}

.search-button {
    width: 50px;
}

.header-icons {
    padding-left: 120px;
    padding-top: 5px;

}
.header-icons a{
    color: white;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.page-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.filter-section {
    border-right: 1px solid #ddd;
}

.filter-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-title {
    font-weight: bold;
    margin-top: 10px;
}

.product-price {
    color: gray;
    margin-top: 5px;
}



/* styling part of search bar  */
footer {
    width: 98.9%;
    margin-left: 13px;
  }
  
  .footer {
    background-color: #7d6954;
    /* Brown background */
    color: #fff;
    /* White text color */
    padding: 40px 20px;
  }
  
  .footer .footer-heading {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 8px;
  }
  
  .footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer ul li a:hover {
    text-decoration: underline;
  }
  
  .footer .social-icons a {
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  
  .footer .social-icons a:hover {
    color: #ccc;
  }
  
  a {
    text-decoration: none;
  }

