body {
    /* background: linear-gradient(135deg, #6a11cb, #2575fc); */
    color: #fff;
    background-color: #685B47;
}

.card {
    border: none;
    border-radius: 20px;
    overflow: hidden;
}

.nav-tabs .nav-link.active {
    background-color: #2575fc;
    color: #fff;
    border-radius: 30px;
    font-weight: bold;
}

.nav-tabs .nav-link {
    color: #6c757d;
    border-radius: 30px;
    transition: color 0.3s;
}

.nav-tabs .nav-link:hover {
    color: #2575fc;
}

.btn-primary {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    border: none;
    font-weight: bold;
}

.btn-primary:hover {
    background: linear-gradient(135deg, #2575fc, #6a11cb);
}

.modal-content {
    border-radius: 15px;
}

.input-group-text {
    background-color: #6a11cb;
    color: #fff;
}

.display-4 {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#forgotPasswordModal .modal-body,
#otpVerificationModal .modal-body {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
}